/* reset */

html{
	color:#000;background:#fff
}
body,div,dl,dt,dd,ol,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
	margin:0;padding:0
}

fieldset,img{
	border:0
}
address,caption,cite,code,dfn,em,strong,th,var{
	font-style:normal;
	font-weight:normal
}

h1,h2,h3,h4,h5,h6{
	font-size:100%;
	font-weight:normal
}

/* custom*/


html {
	height: 100%;
	background: #292929;
}

body {
	font: 16px/22px "Helvetica Neue",Helvetica,Arial,sans-serif;
	height: 100%;
	color: #545454;
}

h1 {
	font-size: 32px;
	line-height: 1;
	font-weight: 300;
	margin-top: 20px;
	margin-bottom: 80px;
	text-align: center;
	color: #464648;
	-webkit-font-smoothing: antialiased;
}


.content {
	position: relative;
	width: 75%;
	min-width: 960px;
	min-height: 100%;
	margin: 0 auto;
	-webkit-box-shadow: 0 -3px 3px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 -3px 3px rgba(0, 0, 0, .2);
	box-shadow: 0 -3px 3px rgba(0, 0, 0, .2);
	background-color: white;
	padding-top: 1px;
}

.iphone {
	text-align: center;
}

img {
	max-width: 100%;
}